{% extends "waitinglists/base.html" %}
{% load extra_templates %}

{% block title %}S1 Training{% endblock %}

{% block content %}
    <div class="container mt-4">
    <div class="row">

    <div class="col-6">
    <h4>Planned Sessions</h4>
    {% for session in sessions %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'session_detail' session.id %}">{{ session.module.name }}</a></h5>
        {{ session.datetime|format_datetime }}Z | Mentor: {{ session.mentor.first_name }} {{ session.mentor.last_name }} | {{ session.language }}
            </div></div>
    {% endfor %}
    </div>
    </div>
    <div class="row">
     <div class="col-4">
    <h4>Waiting Lists</h4>
    {% for module in modules %}
    <h6><a href="{% url 'total_waiting_list' module.id %}">{{ module.name }}</a></h6>
    {% endfor %}
     </div>
    <div class="col-8">
        <h4>Quiz Timeouts</h4>
        {% for user in timeout_users %}
            <a href="{% url 'user_details' user.username %}">{{ user.first_name }} {{ user.last_name }}</a>
        {% endfor %}
    </div>
    </div>
    <div class="row">
    <div class="col-6">
        <h4>Find User</h4>
        <form method="post" action="">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.user_id.label_tag }}
                {{ form.user_id }}
                {% if form.user_id.errors %}
                    <div class="text-danger">{{ form.user_id.errors.0 }}</div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    </div>
{% endblock %}