{% extends "waitinglists/base.html" %}
{% load extra_templates %}

{% block title %}Waiting List Detail{% endblock %}

{% block content %}
    <table class="table">
        <th>VID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Preferred Language</th>
        {% for entry in waiting_list_entries %}
            <tr>
                <td>{{ entry.user.username }}</td>
                <td>{{ entry.user.first_name }}</td>
                <td>{{ entry.user.last_name }}</td>
                <td>{% if entry.user.userdetail.en_preferred %} EN {% else %} DE {% endif %}</td>
            </tr>

        {% endfor %}
    </table>
{% endblock %}